/* You can add global styles to this file, and also import other style files */

.sitio {
  max-width:none;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}
.encabezado{
  grid-column: 1/4;
  grid-row: 1/3;
}
.logo {
 float: left;
}
.foot-page {
  padding: 2em;
  background: #7C90A0;
  color: white;
  text-align: center;
  grid-column: 1/4;
  grid-row: 6/7;
}
.content {
  background-image: url("img/descarga.jpeg");
  background-size: auto;
  grid-column: 1/4;
  grid-row: 3/6;
}
p {
  color: white;
}
h2 {
  text-align: center;
  color: honeydew;
}
img {
  display: block;
  border: 0;
  width: 25%;
  height: auto;
}
h1 {
  background-color: rgba(194, 237, 160, 0.674);
}
